@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body * {
  font-family: 'Inter', sans-serif;
}

.reveal code {
  font-size: 25px;
}

.reveal pre code {
  background-color: black !important;
  color: white;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 1.5;
}

:root {
  --r-heading-font: 'Inter', sans-serif;
  --r-heading-font-weight: 300;
  --r-heading1-size: 2em;
  --r-heading2-size: 1.5em;
  --r-main-font-size: 30px;
  --r-code-font: 'Fira Code', monospace;
  --r-block-margin: 2%;
}

